---
import { Icon } from 'astro-icon/components';

const { text, links, currentPath } = Astro.props;
---

<>
  <button
    type="button"
    class="hover:text-link flex items-center px-4 py-3 text-white"
    aria-expanded="true"
    data-aw-submenu-toggle
  >
    {text}
    <Icon name="tabler:chevron-down" class="ml-0.5 hidden h-3.5 w-3.5 lg:inline rtl:ml-0 rtl:mr-0.5" />
  </button>
  <ul
    class="dropdown-menu dark:bg-dark dark:lg:bg-dark block rounded border border-white/20 bg-primary px-4 font-medium drop-shadow-xl dark:border-gray-700 lg:absolute lg:hidden lg:min-w-[200px] lg:border-gray-300 lg:bg-white/90 lg:p-0 lg:backdrop-blur-md"
  >
    {
      links.map(({ text: subtext, href, dividerAfter = false }) => (
        <li class:list={{ 'border-b border-gray-500 dark:border-gray-700': dividerAfter }}>
          <a
            class:list={[
              'hover:text-link whitespace-no-wrap block px-5 py-2 text-white first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white lg:text-gray-950 lg:hover:bg-gray-100 lg:dark:text-white',
              { 'aw-link-active': href === currentPath },
            ]}
            href={href}
          >
            {subtext}
          </a>
        </li>
      ))
    }
  </ul>
</>
