---
import ColumnSteps from '~/components/widgets/ColumnSteps.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { fetchAll } from '~/queries/Values';

const metadata = {
  title: 'About us',
};

const values = await fetchAll();
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">Mission and Vision</Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">TCHA</span> exists to provide performing arts classes and opportunities, viewed through
      a redemptive lens, to home educated students in the Minneapolis/St. Paul area.
    </Fragment>

    <Fragment slot="content">
      <p class="mb-3">
        Our board and tutors are all professing Christians, and TCHA operates from a Christian worldview. Depending on
        the tutor or director, prayer, devotionals, worship, and Christ-centered music may be incorporated into our
        classes and productions. TCHA is not affiliated with any denomination or church, but holds to Christian
        principles, including the inerrancy of Scripture as the Word of God, and salvation through faith in Jesus
        Christ.
      </p>
      <p class="mb-3">TCHA is a 501(c)(3) charitable non-profit organization.</p>
    </Fragment>
  </Hero>

  <ColumnSteps title="Our Values / Philosophy" items={values} columns={3} isDark />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Key locations"
    subtitle=""
    tagline=""
    columns={4}
    items={[
      {
        title: 'Weekly Classes',
        description: 'South Suburban Church<br />12600 Johnny Cake Ridge Rd<br />Apple Valley, MN 55124',
      },
      {
        title: 'Theatre Performances',
        description: 'Lakeville Area Arts Center<br />20965 Holyoke Ave<br />Lakeville, MN 55044',
      },
      {
        title: 'Choral Performances',
        description: 'South Cities Church<br />20700 Kenrick Ave<br />Lakeville, MN 55044',
      },
      {
        title: 'Business Address',
        description: '23280 Grandview Way<br />Lakeville, MN 55044',
      },
    ]}
  />
</Layout>
