---
import { Image } from 'astro:assets';
import ColumnSteps from '~/components/widgets/ColumnSteps.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { fetchAll } from '~/queries/Values';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import { findLocalImage } from '~/utils/images';

const hero = await findLocalImage('~/assets/images/about-hero.jpg');

const metadata = {
  title: 'About us',
};

const values = await fetchAll();
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <WidgetWrapper isDark>
    <Fragment slot="bg">
      <div class="absolute inset-0">
        <Image src={hero} alt="Theatre seats" class="h-full w-full object-cover object-[50%_75%]" />
      </div>
    </Fragment>
    <Hero tagline="About us" backdropOverlay="md">
      <Fragment slot="title">Mission and Vision</Fragment>

      <Fragment slot="subtitle">
        <span class="font-semibold">TCHA</span> exists to provide performing arts classes and opportunities, viewed through
        a redemptive lens, to home educated students in the Minneapolis/St. Paul area.
      </Fragment>

      <Fragment slot="content">
        <p class="mb-3">
          Our board and tutors are all professing Christians, and TCHA operates from a Christian worldview. Depending on
          the tutor or director, prayer, devotionals, worship, and Christ-centered music may be incorporated into our
          classes and productions. TCHA is not affiliated with any denomination or church, but holds to Christian
          principles, including the inerrancy of Scripture as the inspired Word of God, and salvation through faith in
          Jesus Christ.
        </p>
        <p class="mb-3 text-muted">TCHA is a 501(c)(3) charitable non-profit organization.</p>
      </Fragment>
    </Hero>
  </WidgetWrapper>

  <ColumnSteps title="Our Values / Philosophy" items={values} columns={3} />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Key locations"
    subtitle=""
    tagline=""
    columns={4}
    items={[
      {
        title: 'Weekly Classes',
        description: 'South Suburban Church<br />12600 Johnny Cake Ridge Rd<br />Apple Valley, MN 55124',
      },
      {
        title: 'Theatre Performances',
        description: 'Lakeville Area Arts Center<br />20965 Holyoke Ave<br />Lakeville, MN 55044',
      },
      {
        title: 'Choral Performances',
        description: 'South Cities Church<br />20700 Kenrick Ave<br />Lakeville, MN 55044',
      },
      {
        title: 'Business Address',
        description: 'Twin Cities Homeschoolers for the Arts<br />23280 Grandview Way<br />Lakeville, MN 55044',
      },
    ]}
  />
</Layout>
