---
import Features2 from '../components/widgets/Features2.astro';
import Features3 from '../components/widgets/Features3.astro';
import Hero from '../components/widgets/Hero.astro';
import Steps2 from '../components/widgets/Steps2.astro';
import Layout from '../layouts/PageLayout.astro';
import type { Class } from '@types/Class';
import List from '../components/classes/List.astro';

const metadata = {
  title: 'Choir Classes | TCHA',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Classes"
    image={{
      src: '',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">Choir</Fragment>

    <Fragment slot="subtitle">
      TCHA offers several choir classes each semester for a variety of ages ranging from Kindergarten through 12th
      grade.
    </Fragment>
  </Hero>
  <section class="px-6 sm:px-6 pb-12 sm:pb-16 lg:pb-20 mx-auto max-w-4xl">
    <h2 class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-4xl mb-12">
      Classes
    </h2>
    <List classType="Choir" />
  </section>
</Layout>
