---
import Hero from '../components/widgets/Hero.astro';
import Layout from '../layouts/PageLayout.astro';
import List from '../components/classes/List.astro';

const metadata = {
  title: 'Choir Classes | TCHA',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Classes"
    image={{
      src: '~/assets/images/choir-banner.webp',
      alt: 'Choir class setting',
    }}
  >
    <Fragment slot="title">Choir</Fragment>

    <Fragment slot="subtitle">
      TCHA offers several choir classes each semester for a variety of ages ranging from Kindergarten through 12th
      grade.
    </Fragment>
  </Hero>
  <section class="mx-auto max-w-4xl px-6 pb-12 sm:px-6 sm:pb-16 lg:pb-20">
    <List classType="Choir" />
  </section>
</Layout>
