---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact Us" title="How can we help?" />

  <div
    class="flex flex-col max-w-2xl mx-auto rounded-lg backdrop-blur border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900 shadow p-4 sm:p-6 lg:p-8 w-full"
  >
    <!-- dark mode form -->
    <iframe
      class="hidden dark:block border-0 m-0 w-full"
      data-tally-src="https://tally.so/embed/w4xoOr?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
      loading="lazy"
      title="Contact Us"></iframe>

    <!-- light mode form -->
    <iframe
      class="dark:hidden border-0 m-0 w-full"
      data-tally-src="https://tally.so/embed/m6NlqJ?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
      loading="lazy"
      title="Contact Us"></iframe>

    <script>
      document.addEventListener('astro:page-load', () => Tally.loadEmbeds());
    </script>
  </div>
</Layout>
