---
import { Image } from 'astro:assets';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import { findLocalImage } from '~/utils/images';

const hero = await findLocalImage('~/assets/images/contact-hero.jpg');

const metadata = {
  title: 'Contact | TCHA',
};
---

<Layout metadata={metadata}>
  <WidgetWrapper isDark>
    <Fragment slot="bg">
      <div class="absolute inset-0">
        <Image src={hero} alt="Empty chair" class="h-full w-full object-cover" />
      </div>
    </Fragment>
    <Hero tagline="Contact Us" title="How can we help?" backdropOverlay="sm" />
  </WidgetWrapper>

  <section
    class="mx-auto my-10 flex w-full max-w-2xl flex-col rounded-lg border border-gray-200 bg-white p-4 shadow backdrop-blur sm:p-6 lg:p-8 dark:border-gray-700 dark:bg-slate-900"
  >
    <!-- dark mode form -->
    <iframe
      class="m-0 hidden w-full border-0 dark:block"
      data-tally-src="https://tally.so/embed/w4xoOr?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
      loading="lazy"
      title="Contact Us"></iframe>

    <!-- light mode form -->
    <iframe
      class="m-0 w-full border-0 dark:hidden"
      data-tally-src="https://tally.so/embed/m6NlqJ?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
      loading="lazy"
      title="Contact Us"></iframe>

    <script>
      document.addEventListener('astro:page-load', () => {
        const tally = (window as Window & { Tally?: { loadEmbeds?: () => void } }).Tally;
        tally?.loadEmbeds?.();
      });
    </script>
  </section>
</Layout>
