---
import Hero from '../components/widgets/Hero.astro';
import Layout from '../layouts/PageLayout.astro';
import List from '../components/classes/List.astro';

const metadata = {
  title: 'Dance Classes | TCHA',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Classes"
    image={{
      src: '~/assets/images/dance-banner.webp',
      alt: 'Hero Image',
    }}
  >
    <Fragment slot="title">Dance</Fragment>

    <Fragment slot="subtitle">
      TCHA offers ballet, lyrical, tap and jazz dance classes for students ranging from PreK-12th grade.
    </Fragment>
  </Hero>
  <section class="px-6 sm:px-6 pb-12 sm:pb-16 lg:pb-20 mx-auto max-w-4xl">
    <List classType="Dance" />
  </section>
</Layout>
