---
import Hero from '../components/widgets/Hero.astro';
import Layout from '../layouts/PageLayout.astro';
import List from '../components/classes/List.astro';

const metadata = {
  title: 'Drama Classes | TCHA',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Classes"
    image={{
      src: '~/assets/images/drama-banner.webp',
      alt: 'Hero Image',
    }}
  >
    <Fragment slot="title">Drama</Fragment>

    <Fragment slot="subtitle">
      TCHA offers several drama classes each semester for a variety of ages ranging from Kindergarten through 12th
      grade.
    </Fragment>
  </Hero>
  <section class="px-6 sm:px-6 pb-12 sm:pb-16 lg:pb-20 mx-auto max-w-4xl">
    <List classType="Drama" />
  </section>
</Layout>
