---
import Layout from '../layouts/PageLayout.astro';

const metadata = {
  title: 'Events Calendar | TCHA',
};
---

<Layout metadata={metadata}>
  <script>
    import dayjs from 'dayjs';
    import { Modal } from 'flowbite';
    import { Calendar } from '@fullcalendar/core';
    import dayGridPlugin from '@fullcalendar/daygrid';
    import listPlugin from '@fullcalendar/list';
    import googleCalendarPlugin from '@fullcalendar/google-calendar';

    let calendar: Calendar | undefined;

    const initCalendar = () => {
      if (calendar) {
        return;
      }

      if (!window.location.pathname.startsWith('/events/')) {
        return;
      }

      const $modalEl = document.getElementById('eventModal');
      const eventModal = new Modal($modalEl, {}, { id: 'eventModal', override: true });
      const closeButton = document.getElementById('eventModal-close');
      closeButton?.addEventListener('click', () => eventModal.hide());

      var calendarEl = document.getElementById('calendar')!;
      calendar = new Calendar(calendarEl, {
        plugins: [dayGridPlugin, listPlugin, googleCalendarPlugin],
        googleCalendarApiKey: 'AIzaSyDDtm0Kq9peyIES6MurVMzvpj0qxPd57es',
        events: {
          googleCalendarId: 'tcha-mn.com_vhub6lsh2nqen4saf0aeb9oe28@group.calendar.google.com',
        },
        initialView: 'dayGridMonth',
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,listMonth',
        },
        eventClick(info) {
          info.jsEvent.preventDefault();
          document.getElementById('eventModal-title')!.innerText = info.event.title;
          document.getElementById('eventModal-subtitle')!.innerText = info.event.allDay
            ? 'All Day'
            : `${dayjs(info.event.start).format('h:mm a')} - ${dayjs(info.event.end).format('h:mm a')}`;
          document.getElementById('eventModal-location-wrapper')!.hidden = !info.event.extendedProps.location;
          document.getElementById('eventModal-location')!.innerHTML =
            `${info.event.extendedProps.location}<br />(<a target="_blank" href="https://maps.google.com/?q=${info.event.extendedProps.location}">see map</a>)`;

          document.getElementById('eventModal-description-wrapper')!.hidden = !info.event.extendedProps.description;
          document.getElementById('eventModal-description')!.innerHTML = info.event.extendedProps.description;
          eventModal.show();
        },
      });
      calendar.render();
    };
    document.addEventListener('astro:page-load', initCalendar);
    document.addEventListener('astro:after-swap', () => {
      calendar?.destroy();
      calendar = undefined;
    });
  </script>
  <section class="mx-auto max-w-4xl px-6 pb-12 sm:px-6 sm:pb-16 lg:pb-20">
    <div class="max-w-6xl" id="calendar"></div>
    <div
      id="eventModal"
      tabindex="-1"
      aria-hidden="true"
      class="fixed inset-0 z-50 hidden w-full overflow-y-auto bg-black/40 backdrop-blur-sm p-4 md:p-6"
    >
      <div class="relative mx-auto w-full max-w-2xl">
        <!-- Modal content -->
        <div class="relative rounded-lg bg-white shadow-2xl ring-1 ring-black/10 dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-start justify-between rounded-t px-5 pt-4">
            <h3 id="eventModal-title" class="text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white"></h3>
            <button
              id="eventModal-close"
              type="button"
              class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            >
              <svg
                class="h-3 w-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <div class="border-b px-5 pb-2 dark:border-gray-600">
            <h4 id="eventModal-subtitle" class="text-sm text-gray-600 italic dark:text-gray-300"></h4>
          </div>
          <!-- Modal body -->
          <div class="space-y-6 p-6">
            <p id="eventModal-description-wrapper" class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
              <b>Description:</b>
              <span id="eventModal-description"></span>
            </p>
            <p id="eventModal-location-wrapper" class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
              <b>Location:</b>
              <span id="eventModal-location"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
