---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Twin Cities Homeschoolers for the Arts',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Register for Classes',
        href: '/register',
        icon: 'tabler:checkbox',
      },
      { text: 'Learn more', href: '/about' },
    ]}
    image={{ src: '~/assets/images/hero.jpg', alt: 'TCHA Hero Image' }}
  >
    <Fragment slot="title">Twin Cities Homeschoolers <br /> for the Arts</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">TCHA</span> exists to provide performing arts classes and opportunities for home
        educated students in the Minneapolis/St. Paul area.
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline=""
    title="Education and Performance Opportunities"
    subtitle="We offer a variety of classes in choir, dance, and drama as well as private lessons in several instruments including voice, guitar, and violin. We’re excited to help your student grow and develop their skills in the performing arts!"
    items={[
      {
        title: 'Choir',
        description:
          'We offer large and small choral ensembles for students K-12 with multiple performances throughout the school year.',
        icon: 'tabler:music',
      },
      {
        title: 'Dance',
        description: 'Tap, jazz and ballet',
        icon: 'tabler:flip-flops',
      },
      {
        title: 'Drama',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:masks-theater',
      },
      {
        title: 'Lessons',
        description: 'Vocal and instrumental instructors are available for private lessons.',
        icon: 'tabler:book',
      },
    ]}
  />

  <Testimonials
    title="Words from our community"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Student',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Alumni',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Parent',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Donate',
        href: 'https://www.paypal.com/donate/?hosted_button_id=6PSJWMWAEXSC2',
        target: '_blank',
        icon: 'tabler:star',
      },
    ]}
  >
    <Fragment slot="title">Will you join us?</Fragment>

    <Fragment slot="subtitle">
      Your donation helps us give your student the opportunity to increase creativity and cultivate proficiency in the
      performing arts.
    </Fragment>
  </CallToAction>
</Layout>
