---
import { Image } from 'astro:assets';
import Layout from '../layouts/PageLayout.astro';

import Brands from '../components/widgets/Brands.astro';
import CallToAction from '../components/widgets/CallToAction.astro';
import Features from '../components/widgets/Features.astro';
import Hero from '../components/widgets/Hero.astro';
import Testimonials from '../components/widgets/Testimonials.astro';
import { fetchAll as fetchAllTestimonials } from '../queries/Testimonials';
import { fetchActive as fetchActiveSponsors } from '../queries/Sponsors';
import type { CallToAction as HeroCallToAction } from '../types';
import { isRegistrationOpen } from '../queries/Registration';
import { findLocalImage } from '../utils/images';

import WidgetWrapper from '../components/ui/WidgetWrapper.astro';

const hero = await findLocalImage('~/assets/images/brightstar-hero.jpg');

const metadata = {
  title: 'Twin Cities Homeschoolers for the Arts',
  ignoreTitleTemplate: true,
};
const sponsors = await fetchActiveSponsors();
const testimonials = await fetchAllTestimonials();
const registrationIsOpen = await isRegistrationOpen();
const heroActions: HeroCallToAction[] = [{ text: 'Learn more', href: '/about/', variant: 'primary' }];
if (registrationIsOpen) {
  heroActions.unshift({
    variant: 'secondary',
    text: 'Register for Classes',
    href: '/registration/',
    icon: 'tabler:checkbox',
  });
  heroActions[1].variant = 'accent';
}
---

<Layout metadata={metadata}>
  <WidgetWrapper isDark>
    <Fragment slot="bg">
      <div class="absolute inset-0">
        <Image src={hero} alt="Brightstar" class="h-full w-full object-cover object-[50%_15%]" />
      </div>
    </Fragment>
    <Hero actions={heroActions} backdropOverlay="sm">
      <Fragment slot="title">Twin Cities Homeschoolers <br /> for the Arts</Fragment>

      <Fragment slot="subtitle">
        <span class="hidden sm:inline">
          <span class="font-semibold">TCHA</span> exists to provide performing arts classes and opportunities, viewed through
          a redemptive lens, to home educated students in the Minneapolis/St. Paul area.
        </span>
      </Fragment>
    </Hero>
  </WidgetWrapper>

  <Features
    id="features"
    classes={{ headline: { title: 'text-accent dark:text-white text-3xl md:text-4xl' } }}
    title="Education and Performance Opportunities"
    subtitle="We offer a variety of classes in choir, dance, and drama as well as private lessons in several instruments including voice, guitar, and piano. We’re excited to help your student grow and develop their skills in the performing arts!"
    items={[
      {
        title: 'Choir',
        description:
          'Large and small choral ensembles for students K-12 with multiple performances throughout the school year.',
        icon: 'tabler:music',
        implicitAction: '/choir/',
      },
      {
        title: 'Dance',
        description: 'Tap, jazz and ballet',
        icon: 'tabler:flip-flops',
        implicitAction: '/dance/',
      },
      {
        title: 'Drama',
        description:
          'Weekly classes focused on different aspects of theatre including acting, improv, and technical theatre arts.',
        icon: 'tabler:masks-theater',
        implicitAction: '/drama/',
      },
      {
        title: 'Lessons',
        description: 'Vocal and instrumental instructors are available for private lessons.',
        icon: 'tabler:book',
        implicitAction: '/lessons/',
      },
      {
        title: 'Theatre',
        description:
          'Performance opportunities for a variety of age ranges including musical theatre and classic plays',
        icon: 'tabler:theater',
        implicitAction: '/theatre/',
      },
    ]}
  />

  <Testimonials
    title="Words from our community"
    isDark="false"
    testimonials={testimonials.map((t) => ({
      ...t,
      job: t.relationship,
    }))}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'Donate',
        href: 'https://www.paypal.com/donate/?hosted_button_id=6PSJWMWAEXSC2',
        target: '_blank',
        icon: 'tabler:star',
      },
    ]}
  >
    <Fragment slot="title">Will you join us?</Fragment>

    <Fragment slot="subtitle">
      Your donation helps us give your student the opportunity to increase creativity and cultivate proficiency in the
      performing arts.
    </Fragment>
  </CallToAction>

  <Brands
    id="sponsors"
    title="Sponsors"
    subtitle="These businesses and individuals have significantly supported our mission to provide performing arts education and opportunities to home-educated students."
    images={sponsors.map((s) => ({ img: s.logo, alt: s.name, url: s.url }))}
    classes={{}}
  />
</Layout>
