---
import Layout from '~/layouts/PageLayout.astro';

import CallToAction from '~/components/widgets/CallToAction.astro';
import Features from '~/components/widgets/Features.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import { fetchAll as fetchAllTestimonials } from '~/queries/Testimonials';
import type { CallToAction as HeroCallToAction } from '~/types';
import { isRegistrationOpen } from '~/queries/Registration';

const metadata = {
  title: 'Twin Cities Homeschoolers for the Arts',
  ignoreTitleTemplate: true,
};
const testimonials = await fetchAllTestimonials();
const registrationIsOpen = await isRegistrationOpen();
const heroActions: HeroCallToAction[] = [{ text: 'Learn more', href: '/about/', variant: 'secondary' }];
if (registrationIsOpen) {
  heroActions.unshift({
    variant: 'primary',
    text: 'Register for Classes',
    href: '/registration/',
    icon: 'tabler:checkbox',
  });
}
---

<Layout metadata={metadata}>
  <Hero actions={heroActions} image={{ src: '~/assets/images/brightstar-hero.jpg', alt: 'TCHA Hero Image' }} animate>
    <Fragment slot="title">Twin Cities Homeschoolers <br /> for the Arts</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">TCHA</span> exists to provide performing arts classes and opportunities, viewed through
        a redemptive lens, to home educated students in the Minneapolis/St. Paul area.
      </span>
    </Fragment>
  </Hero>

  <Features
    id="features"
    title="Education and Performance Opportunities"
    subtitle="We offer a variety of classes in choir, dance, and drama as well as private lessons in several instruments including voice, guitar, and piano. We’re excited to help your student grow and develop their skills in the performing arts!"
    items={[
      {
        title: 'Choir',
        description:
          'Large and small choral ensembles for students K-12 with multiple performances throughout the school year.',
        icon: 'tabler:music',
        callToAction: {
          href: '/choir/',
          text: 'Learn more',
          icon: 'tabler:arrow-right',
        },
      },
      {
        title: 'Dance',
        description: 'Tap, jazz and ballet',
        icon: 'tabler:flip-flops',
        callToAction: {
          href: '/dance/',
          text: 'Learn more',
          icon: 'tabler:arrow-right',
        },
      },
      {
        title: 'Drama',
        description:
          'Weekly classes focused on different aspects of theatre including acting, improv, and technical theatre arts.',
        icon: 'tabler:masks-theater',
        callToAction: {
          href: '/drama/',
          text: 'Learn more',
          icon: 'tabler:arrow-right',
        },
      },
      {
        title: 'Lessons',
        description: 'Vocal and instrumental instructors are available for private lessons.',
        icon: 'tabler:book',
        callToAction: {
          href: '/lessons/',
          text: 'Learn more',
          icon: 'tabler:arrow-right',
        },
      },
      {
        title: 'Theatre',
        description:
          'Performance opportunities for a variety of age ranges including musical theatre and classic plays',
        icon: 'tabler:theater',
        callToAction: {
          href: '/theatre/2023-2024/',
          text: 'Learn more',
          icon: 'tabler:arrow-right',
        },
      },
    ]}
  />

  <Testimonials
    title="Words from our community"
    isDark="false"
    testimonials={testimonials.map((t) => ({
      ...t,
      job: t.relationship,
    }))}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Donate',
        href: 'https://www.paypal.com/donate/?hosted_button_id=6PSJWMWAEXSC2',
        target: '_blank',
        icon: 'tabler:star',
      },
    ]}
  >
    <Fragment slot="title">Will you join us?</Fragment>

    <Fragment slot="subtitle">
      Your donation helps us give your student the opportunity to increase creativity and cultivate proficiency in the
      performing arts.
    </Fragment>
  </CallToAction>
</Layout>
~/queries/Semester
