---
import { Image } from 'astro:assets';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import List from '~/components/newsletters/List.astro';
import { findLocalImage } from '~/utils/images';

const hero = await findLocalImage('~/assets/images/newsletter-hero.jpg');

const metadata = {
  title: 'Newsletters | TCHA',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <WidgetWrapper isDark>
    <Fragment slot="bg">
      <div class="absolute inset-0">
        <Image src={hero} alt="Spotlight" class="h-full w-full object-cover object-[50%_25%]" />
      </div>
    </Fragment>
    <Hero
      title="Newsletter"
      backdropOverlay="sm"
      actions={[
        {
          text: 'Receive our newsletter in your inbox!',
          variant: 'primary',
          'data-modal-target': 'subscribe-modal',
          'data-modal-toggle': 'subscribe-modal',
        },
      ]}
    >
      <Fragment slot="subtitle">
        Catch up on the latest news from the TCHA community or reminisce about the past in our quarterly newsletter!
      </Fragment>
    </Hero>
  </WidgetWrapper>
  <section class="mx-auto max-w-4xl px-6 pb-12 sm:px-6 sm:pb-16 lg:pb-20">
    <List />
  </section>
</Layout>
