---
import logoLandscape from '~/assets/images/TCHA-Logo-Landscape-SVG.svg?raw';
---

<span
  class="ml-2 flex items-center self-center whitespace-nowrap font-bold text-gray-900 dark:text-white md:text-2xl xl:text-3xl"
>
  <div class="h-auto w-40" title="TCHA Logo" set:html={logoLandscape} />
</span>
