---
import { SITE } from '~/utils/config';
import faviconSvg from '~/assets/favicons/favicon.svg';
---

<span
  class="flex flex-items-center self-center ml-2 rtl:ml-0 rtl:mr-2 text-l md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img class="h-7" src={faviconSvg.src} alt="TCHA Logo" />&nbsp;
  {SITE?.name}
</span>
