---
import faviconSvg from '~/assets/favicons/favicon.svg';
---

<span
  class="flex-items-center text-m ml-2 flex items-center self-center whitespace-nowrap font-bold text-gray-900 dark:text-white md:text-2xl rtl:ml-0 rtl:mr-2"
>
  <img class="mr-2 h-11" src={faviconSvg.src} alt="TCHA Logo" />Twin Cities<br
    class="inline-block xl:hidden"
  />Homeschoolers for the Arts
</span>
