---
import logoLandscape from '~/assets/images/TCHA-Logo-Landscape-SVG.svg?raw';
---

<span
  class="ml-2 flex items-center self-center font-bold whitespace-nowrap text-gray-900 md:text-2xl xl:text-3xl dark:text-white"
>
  <div class="h-auto w-40" title="TCHA Logo" set:html={logoLandscape} />
</span>
