---
// Uncomment line below to activate View Transitions
import { ViewTransitions } from 'astro:transitions';
import { ThemeModeScript } from 'flowbite-react';

import '~/assets/styles/tailwind.css';

import { I18N } from '~/utils/config';

import CustomStyles from '~/components/CustomStyles.astro';
import Favicons from '~/components/Favicons.astro';
import Analytics from '~/components/common/Analytics.astro';
import ApplyColorMode from '~/components/common/ApplyColorMode.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';
import CommonMeta from '~/components/common/CommonMeta.astro';
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification from '~/components/common/SiteVerification.astro';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <ThemeModeScript />
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />
    <ViewTransitions fallback="swap" />
    <script async src="https://tally.so/widgets/embed.js"></script>
    <script is:inline type="importmap">
      {
        "imports": {
          "@fullcalendar/core": "https://cdn.skypack.dev/@fullcalendar/core@6.1.10",
          "@fullcalendar/daygrid": "https://cdn.skypack.dev/@fullcalendar/daygrid@6.1.10",
          "@fullcalendar/google-calendar": "https://cdn.skypack.dev/@fullcalendar/google-calendar@6.1.10",
          "@fullcalendar/list": "https://cdn.skypack.dev/@fullcalendar/list@6.1.10"
        }
      }
    </script>
  </head>

  <body class="bg-page tracking-tight text-default antialiased">
    <slot />

    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
    <script>
      import { initFlowbite } from 'flowbite';
      document.addEventListener('astro:page-load', initFlowbite);
      document.addEventListener('astro:after-swap', () => {
        document.querySelectorAll<HTMLImageElement>('img[data-x-lqip="true"]').forEach((img) => {
          img.addEventListener('load', () => {
            img.animate([{ opacity: 0 }, { opacity: 1 }], {
              duration: parseInt(img.dataset['xLqipTransitionDuration']!),
              fill: 'forwards',
            });
          });
          if (img.complete) {
            img.style.opacity = '1';
          }
        });
      });
    </script>
  </body>
</html>
