---
import Item from '~/components/classes/ListItem.astro';
import type { Class } from '@types/Class';
import { sanityClient } from 'sanity:client';
import type { ClassType } from '@types/ClassType';

export interface Props {
  classType: ClassType;
}

const { classType } = Astro.props;

const QUERY = `*[_type == "class" && class_type == "${classType}"] | order(age_minimum){
  _id,
  _createdAt,
  title,
  description,
  price,
  "image": preview_image.asset->url,
  "alt": preview_image.alt,
  "instructors": instructors[]->{name, "headshot": headshot.asset->url},
  "classTimes": class_times,
  "ages": {"min": age_minimum, "max": age_maximum},
}`;
const classes = await sanityClient.fetch<Class[]>(QUERY);
---

<ul>
  {
    classes.map((classItem) => (
      <li class="mb-12 md:mb-20">
        <Item classItem={classItem} />
      </li>
    ))
  }
</ul>
