---
import InstructorPanel from './Instructor.astro';
import Item from './ListItem.astro';
import type { Class } from '@schema/Class';
import type { Instructor } from '@schema/Instructor';
import type { Semester } from '@schema/Semester';
import SemesterInfo from './SemesterInfo.astro';

export interface Props {
  semester: Semester;
  classes: Class[];
}

const { semester, classes } = Astro.props;
const instructors = classes
  .map((classItem) => classItem.instructors)
  .flat()
  .reduce(
    (acc, curr) => {
      if (acc[curr._id]) return acc;
      return { ...acc, [curr._id]: curr };
    },
    {} as Record<string, Instructor>
  );
---

<div class="mb-20">
  <SemesterInfo semester={semester} />
  <h3 class="font-bold leading-tighter tracking-tighter font-heading text-heading text-xl md:text-3xl mb-12">
    Classes
  </h3>
  <ul>
    {
      classes.map((classItem) => (
        <li class="mb-12 md:mb-20">
          <Item classItem={classItem} />
        </li>
      ))
    }
  </ul>
</div>
{Object.values(instructors).map((i) => <InstructorPanel instructor={i} />)}
