---
import Item from './ListItem.astro';
import type { ParsedClass as Class } from '~/queries/Classes';
import type { Semester } from '~/queries/Semester';
import SemesterInfo from './SemesterInfo.astro';

export interface Props {
  semester: Semester;
  classes: Class[];
}

const { semester, classes } = Astro.props;
---

<div class="mt-16 xl:mt-24">
  {
    semester.isPopup ? (
      <h3 class="leading-tighter text-heading mb-12 font-heading text-xl font-bold tracking-tighter md:text-3xl">
        Pop-up Classes
      </h3>
    ) : (
      <>
        <SemesterInfo semester={semester} />
        <h3 class="leading-tighter text-heading mb-12 font-heading text-xl font-bold tracking-tighter md:text-3xl">
          Classes
        </h3>
      </>
    )
  }
  <ul class="flex flex-wrap justify-between">
    {
      classes.map((classItem) => (
        <li class="mb-12">
          <Item classItem={classItem} />
        </li>
      ))
    }
  </ul>
</div>
